/* default */
*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    grid: none;
}

body{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

::selection{
    background-color: rgba(91, 170, 194, 0.4);
}
/* -------------------------------------------------------------------- */




/* ------------------------------------------------------------------------------ */

/* NAVIGATION */
header{
    background: rgba(71, 71, 71, 0.1);
    z-index: 6969;
    position: fixed;
    padding: 0.9rem 0;
    top: 0;
    left: 0;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.1); */
}

header nav{
    max-width: 100%;
    margin: 0 auto;
    padding: 0 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headlogo{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 3px;
}

header ul{
    display: flex;
    list-style: none;
    align-items: center;
}

header ul a{
    text-decoration: none;
    color: #fff;
    padding: 0 1.5rem;
    font-weight: 300;
    font-size: 0.93rem;
}

.hamburger{
    display: none;
    padding-left: 3rem;
}
.hamburger a{
    padding: 0;
    width: 37px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(86, 86, 86, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.hamburger .bar{
    position: relative;
    width: 52%;
    height: 1.3px;
    background-color: #fff;
    border-radius: 2px;
}
.hamburger .bar::before,
.hamburger .bar::after{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 120%;
    background-color: inherit;
    border-radius: 2px;
}
.hamburger .bar::before{
    top: -4.5px;
}
.hamburger .bar::after{
    top: 4.5px;
}
/* --------------------------------------------------------------------------- */


/* parallax homepage */
main{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: #333;
}

.parallax{
    pointer-events: none;
    /* transform: translate(-50%, -50%); */
    transition: 0.45s cubic-bezier(.2,.49,.32,.99);
}

/* ------------------------------------------------------------------------ */

/* parallax imgs */
.bg-img{
    z-index: 1;
    position: absolute;
    /* width: 194.44%; */   width: 2800px;
    /* top: 2.86%; */       top: calc(50% - 390px);
    /* left: 50.69% */      left: calc(50% + 10px);
}

.fog-7{
    z-index: 2;
    position: absolute;
    /* width: 132%; */      width: 1900px;
    /* top: 37.7%; */       top: calc(50% - 100px);
    /* left: 70.8%; */      left: calc(50% + 300px);
}

.mountain-10{
    z-index: 3;
    position: absolute;
    /* width: 60.4%; */     width: 870px;
    /* top: 56.04%; */      top: calc(50% + 69px);
    /* left: 50.69% */      left: calc(50% + 230px);
}

.fog-6{
    z-index: 4;
    position: absolute;
    /* width: 122.2%; */    width: 1833px;
    /* top: 60.49%; */      top: calc(50% + 95px);
    /* left: 62.75%; */     left: calc(50% + 7px);
}

.mountain-9{
    z-index: 5;
    position: absolute;
    /* width: 32.15%; */    width: 463px;
    /* top: 71.69%; */      top: calc(50% + 119px);
    /* left: 15.75%; */     left: calc(50% - 457px);
}

.mountain-8{
    z-index: 6;
    position: absolute;
    /* width: 54.58%; */    width: 786px;
    /* top: 61.85%; */      top: calc(50% + 96px);
    /* left: 35.98%; */     left: calc(50% - 202px);
}

.fog-5{
    z-index: 7;
    position: absolute;
    /* width: 31.25%; */      width: 449px;
    /* top: 69.75%; */        top: calc(50% + 171px);
    /* left: 51.38%; */       left: calc(50% + 29px);
}

.mountain-7{
    z-index: 8;
    position: absolute;
    /* width: 35.76%; */    width: 515px;
    /* top: 66.54%; */      top: calc(50% + 134px);
    /* left: 71.18%; */     left: calc(50% + 305px);
}

.text{
    font-family: 'Poppins', sans-serif;
    position: absolute;
    z-index: 9;
    top: 33.96%;
    left: 50%;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    pointer-events: auto;
}
.text h2{
    letter-spacing: 2px;
    font-weight: 100;
    font-size: 6.5rem;
    line-height: 0.88;

}
.text h1{
    font-weight: 800;
    font-size: 8rem;
    line-height: 0.88;
}

.mountain-6{
    z-index: 10;
    position: absolute;
    /* width: 26.66%; */    width: 383.5px;
    /* top: 60.67%; */      top: calc(50% + 86.5px);
    /* left: 89.93%; */     left: calc(50% + 590px);
}

.fog-4{
    z-index: 11;
    position: absolute;
    /* width: 40.97%; */    width: 543px;
    /* top: 60.67%; */      top: calc(50% + 242px);
    /* left: 45.84%; */     left: calc(50% - 64px);
}

.mountain-5{
    z-index: 12;
    position: absolute;
    /* width: 40.48%; */    width: 583px;
    /* top: 83.2%; */       top: calc(50% + 199px);
    /* left: 59.02%; */     left: calc(50% + 160px);
}

.fog-3{
    z-index: 13;
    position: absolute;
    /* width: 111.11%; */   width: 1435px;
    /* top: 63.95%; */      top: calc(50% + 149px);
    /* left: 48.96%; */     left: calc(50% - 28px);
}

.mountain-4{
    z-index: 14;
    position: absolute;
    /* width: 49.79%; */    width: 717px;
    /* top: 68.64%; */      top: calc(50% + 151px);
    /* left: 23.51%; */     left: calc(50% - 381.5px);
}

.mountain-3{
    z-index: 15;
    position: absolute;
    /* width: 29.09%; */    width: 419px;
    /* top: 63.95%; */      top: calc(50% + 133px);
    /* left: 101.11%; */    left: calc(50% + 736px);
}

.fog-2{
    z-index: 16;
    position: absolute;
    /* width: 98.47%; */    width: 1418px;
    /* top: 64.44%; */      top: calc(50% + 177px);
    /* left: 47.92%; */     left: calc(50% - 30px);
}

.mountain-2{
    z-index: 17;
    position: absolute;
    /* width: 43.4%; */     width: 625px;
    /* top: 64.56%; */      top: calc(50% + 138px);
    /* left: 75.83%; */     left: calc(50% + 362px);
}

.mountain-1{
    z-index: 18;
    position: absolute;
    /* width: 31.25%; */    width: 450px;
    /* top: 61.23%; */      top: calc(50% + 91.5px);
    /* left: 5.84%; */      left: calc(50% - 651px);
}

.sun-rays{
    position: absolute;
    z-index: 19;
    top: 0%;
    right: 0%;
    width: 40%;
    pointer-events: none;

}

.black-shadow{
    position: absolute;
    z-index: 20;
    bottom: 0%;
    right: 0%;
    width: 100%;
    pointer-events: none;

}

.fog-1{
    z-index: 21;
    position: absolute;
    /* width: 111.8%; */    width: 1720px;
    /* top: 59.26%; */      top: calc(100% - 355px);
    /* left: 50.69%; */     left: calc(50% - 0px);
}

.vignette{
    position: absolute;
    z-index: 222;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: radial-gradient(ellipse at center,rgba(0, 0, 0, 0) 65%,
                                                        rgba(0, 0, 0, 0.7));
    pointer-events: none;

}
/* -------------------------------------------------------------------------------- */

/* gaps */
.gap{
    font-family: 'Kanit', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1.3rem;
}

.gap1{
    color: rgb(248, 238, 225);
    background: #333;
}

.gap2{
    background: #333;
    color: rgb(248, 238, 225); 
}

.gap3{
    background: rgb(54, 87, 85);
    color: rgb(248, 238, 225);
}

/* ---------------------------------------------------------------------------------- */

/* page 2 */


article{
    padding: 50px 0 80px 0;
    color: rgb(248, 238, 225);
    background: linear-gradient(to left,rgb(73, 134, 134), rgb(81, 125, 118), rgb(62, 98, 95), rgb(54, 87, 85));
}

article h1{
    text-shadow: 10px -5px 1px #222;
    text-transform: uppercase;
    padding: 1rem 6rem 0.2rem 6rem;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    border-bottom: 2px solid #d6d6d6;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
    font-size: 5rem;
}

article .pp{
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-bottom: 50px;
}

.description-1{
    padding: 0 15% 20px 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description-1 .desc-p1 p{
    text-align: start;
    margin-right: 2.5rem;
    font-family: 'Poppins', sans-serif;
}

.fa-1{
    color: white;
    padding: 0 0 0 0.5rem;
}

.description-1 .desc-img1 .potobareng{
    width: 400px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px #fff;
}

.description-2{
    padding: 0 15% 0 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description-2 .desc-img2 .slebew{
    width: 420px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px #fff;
}

.description-2 .desc-p2 p{
    text-align: end;
    margin-left: 2.5rem;
    font-family: 'Poppins', sans-serif;
}

.fa-2{
    color: white;
    padding: 0 0.5rem 0 0rem;
}
/* --------------------------------------------------------------- */

/* page 3 */
.timpeg{
    color: rgb(248, 238, 225);
    background-image: url("tjkt2-assets/images/mountaingg.png");
    /* background-attachment:scroll; */
}

.timpeg h1{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    color: rgb(81, 125, 118);
    text-shadow: 10px -5px 1px rgb(48, 48, 48); 
    margin: 2rem 0 0 0;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 5rem;
}
/* ----------------------------------------------------------------------------------------------------------*/

/* card */
.arianagrande{
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-container{
    max-width: 1120px;
    width: 100%;
    padding: 40px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-content{
    width: 350px;
    overflow: hidden;
    border-radius: 25px;
    box-shadow: 0 0 12px white;
}

.cardcard{
    border-radius: 25px;
    background-color: #FFF;
}
.image-content,
.card-content{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(-45deg, rgb(73, 134, 134), rgb(81, 125, 118), rgb(62, 98, 95), rgb(54, 87, 85));
    border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: rgb(73, 134, 134);
}

.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #FFF;
}

.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #FFF;
    padding: 3px;
}

.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid rgb(73, 134, 134);
}

.name{
    font-size: 18px;
    font-weight: 500;
    color: #333;
}
.description{
    font-size: 14px;
    color: #707070;
    text-align: center;
}

.beton{
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: rgb(73, 134, 134);
    font-family: 'Poppins', sans-serif;
    border-radius: 20px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.beton:hover{
    background: rgb(40, 73, 73);
}
/* --------------------------------------------------------------------------------------------------------------------- */

/* vnm */

.vnm{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 50px;
    font-family: 'Kanit', sans-serif;
    flex-direction: column;
    gap: 25px;
    font-size: 1.2rem;
}

.visi,
.misi{
    padding: 0px 10px;
    background-color: rgba(255, 255, 255, 0.03);
    border-radius: 10px;
}

/* ----------------------------------------------------------------------------------------------------------------------------------- */

/* cardssssss */
.midcards{
    background: linear-gradient(to top, rgba(34, 34, 34, 0.8), transparent);
    text-align: center;
    padding: 50px 35px 100px 35px;
}

.anadearmas{
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    max-width: 1250px;
    width: 100%;
    position: relative;
}

.wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.wrapper i:active{
    transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child{
    color: #222;
    left: -22px;
}

.wrapper i:last-child{
    color: #222;
    right: -22px;
}

.wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 11px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 10px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel .card {
    height: 300px;
    scroll-snap-align: start;
    list-style: none;
    background: linear-gradient(to left top, rgb(0, 70, 60), rgb(90, 154, 149));
    cursor: pointer;
    flex-direction: column;
    border-radius: 8px;
}

.carousel .card .img {
    background: transparent;
    height: 148px;
    width: 148px;
    border-radius: 50%;
    background-color: #fff;
}

.card .img img {
    z-index: 10;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid rgb(73, 134, 134);
}

.carousel .card h2 {
    color: #fff;
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
}

.carousel .card span {
    color: #fff;
    font-size: 14px;
}

.card{
    border: 2px solid white;
    text-align: center;
    color: #333;
}
/* --------------------------------------------------------------------------------------------------------------------- */

/* page 4 form */
.kontekin{
    height: auto;
    background-color: #ededed;
}

.iniformya{
    color: rgb(43, 42, 41);
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vroom h3{
    padding-bottom: 2rem;
    font-size: 2rem;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}

.vroom{
    font-family: 'Poppins', sans-serif;
}

input{
    width: 280px;
    height: 50px;
    margin: 2px;
    border: none;
    background: none;
    border-bottom: 1.5px solid rgb(43, 42, 41);
    padding: 10px;
}

input:hover{
    border: none;
    outline: none;
}

textarea{
    background: none;
    margin-top: 15px;
    resize: vertical;
    width: 100%;
    height: 150px;
    border: none;
    padding: 10px;
    border: 1.7px solid rgb(43, 42, 41);
}

.sabmit{
    width: 30%;
    padding: 3% 0;
    position: relative;
    left: 100%;
    transform: translate(-100%);
    top: 0;
    cursor: pointer;
    color: rgb(248, 238, 225);
    background-color: #333;
    font-size: 1rem;
    font-weight: 100;
    border: none;
    font-family: 'Kanit', sans-serif;
}

.musrikk{
    display: none;
}
/* -------------------------------------------------------------------------------------------------------------- */

/* futer */
footer{
    height: 4rem;
    font-family: 'Poppins', sans-serif;
    color: rgb(248, 238, 225);
    background-color: rgb(54, 87, 85);
    display: flex;
    justify-content: center;
    align-items: center;
}

.lnc{
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
}

.logobawah{
    font-weight: 600;
    font-size: 0.8rem;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.copy{
    padding-right: 200px;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 2px;
}

.made{
    font-size: 0.8rem;
}
/* ------------------------------------------------------------------------------------------------------------------------------- */

/* testing */


/* ----------------------------------- */
